.gridContainer {
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }
  .gridContainer main {
    background: #797D7F;
    grid-area: main; }
  .gridContainer header {
    background: #352c8f;
    color: #fff;
    grid-area: header; }
  .gridContainer footer {
    color: #fff;
    border-radius: 4px;
    grid-area: footer;
    background-image: linear-gradient(to right, #797D7F, indigo, #352c8f, indigo); }

* {
  padding: 0;
  box-sizing: border-box; }

body {
  background: #797D7F;
  color: black;
  font-family: 'Roboto' , sans-serif;
  min-width: 100%;
  overflow-x: hidden; }
  body h1 {
    text-align: center;
    font-size: 1.5rem;
    color: black; }
  body h2,
  body h3 {
    text-align: center;
    background-color: orangered;
    color: indigo;
    margin: 5px 0px; }
  body img {
    margin: auto;
    display: flex; }
  body .imgbordes {
    border: solid 3px black;
    margin-bottom: 15px; }

.headerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 20px; }
  .headerLogo img {
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 50%; }

.main p {
  text-align: center; }

.slide {
  margin-top: 10px; }
  .slide img {
    height: 70vh; }

.linkLeyMaltrato {
  border: hidden; }

.imgHome {
  margin: auto;
  width: 300px; }

.footer p {
  text-align: center;
  transition: all 2s; }

.footer .redesSociales ul {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  margin-top: 20px; }
  .footer .redesSociales ul li {
    list-style: none; }

.footer ul li a {
  background-color: unset;
  border: none;
  text-decoration: none; }

.footer p:hover {
  transform: scale(1.2);
  color: orangered; }

.videoWrapper {
  width: 50%;
  margin: auto; }
  .videoWrapper .videosVideo1 {
    height: 0px;
    padding-bottom: 56.25%;
    position: relative; }
    .videoWrapper .videosVideo1 iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }

@media only screen and (min-width: 460px) {
  .gridContainer {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "header header" "main main" "footer footer"; } }

.headerLogo h1 {
  font-size: 2.5rem; }

@media only screen and (min-width: 900px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "header header header" " main  main main" " main  main main" "  main main main" "footer footer footer"; }
  .headerLogo {
    background: url(../images/logo.jpg) no-repeat center;
    background-size: cover;
    height: 280px;
    width: 100%; }
    .headerLogo img {
      display: none; }
    .headerLogo h1 {
      font-size: 3rem;
      color: black;
      font-weight: 700; } }
