* {
    padding: 0;
    box-sizing: border-box; }
    
body {
    background: $colorUno;
    color: $colorSeis;
    font-family: 'Roboto' , sans-serif;
    min-width: 100%;
    overflow-x: hidden;

    h1 {
        text-align: center;
        font-size: 1.5rem;
        color: $colorCuatro;
    }
    h2, 
    h3 {
        text-align: center;
        background-color: $colorDos;
        color: $colorTres;
        margin: 5px 0px;
 }
    img {
        margin: auto;
        display: flex;
}
.imgbordes {
    border: solid 3px $colorSeis;
    margin-bottom: 15px;
    width: 350px;
    height: 350px;
}
}