.main {

    p {
        text-align: center;
    }
}
.slide {
    margin-top: 10px;
    img {
        height: 70vh;
    }
}
.linkLeyMaltrato {

        border: hidden;
    
}
.imgHome {
    margin: auto;
    width: 300px;

}