.main {

    p {
        text-align: center;
        font-size: 18px;
    }
    hr {
        height: 20px;
        border: solid 1px $colorSeis;
        background-image: linear-gradient(to right, $colorUno, $colorTres, $colorCinco, $colorTres);
        border-radius: 10px;


        
    }
}
.slide {
    margin-top: 10px;
    img {
        height: 65vh;
    }
}
.linkLeyMaltrato {

        border: hidden;
    
}
